<div>
<h1>search for a user or song</h1>
<form ng-submit="searchAll(input)">
<input type="text" ng-model="input" />
<button>search</button>
</form>

<h2 ng-model="songMessage">{{songMessage}}</h2>
<div ng-repeat="song in results.songs" ng-click="navTo(song.metadata.username)">
  <h4>{{song.metadata.songName}}</h4>
  {{song.metadata.username}}
</div>

<h2 ng-model="userMessage">{{userMessage}}</h2>
<div ng-model="results.users" ng-click="navTo(results.users)">
  <h4>{{results.users}}</h4>
</div>
</div>