<div>
<h2>search for a user or song</h2>
<form ng-submit="search.searchAll(input)">
<input type="text" ng-model="input" />
<button>search</button>
</form>

<h2 ng-model="search.songMessage">{{search.songMessage}}</h2>
<div ng-repeat="song in search.results.songs" ng-click="search.navTo(song.metadata.username)">
  <h4>{{song.metadata.songName}}</h4>
  {{song.metadata.username}}
</div>

<h2 ng-model="search.userMessage">{{search.userMessage}}</h2>
<div ng-model="search.results.users" ng-click="search.navTo(search.results.users)">
  <h4>{{search.results.users}}</h4>
</div>
</div>