<div id='container' align="center">
  <form action="/areyouready", method="post", enctype="multipart/form-data">
    <input type="file", enctype="multipart/form-data" name="musicFile"></input>
    <button>upload</button>
  </form>

<!--   <form ng-submit="search(searchQuery)">
    <input type="text" ng-model="searchQuery"></input>
    <button>search local folder</button>
  </form>
 -->
  <form ng-submit="import(importQuery)">
    <input type="text" ng-model="importQuery"></input>
    <button>search db</button>
  </form>
</div>