<div id='container' align="center">
  <form action="/upload", method="post", enctype="multipart/form-data">
    <input type="file", enctype="multipart/form-data" name="musicFile"></input>
    song name:
    <input type="text", name="songName"></input>
    <button>upload</button>
  </form>

  <br />

  <h2> your uploads </h2>
  <div ng-repeat="item in collectionData" ng-click="edit(item.filename, item.songName)">
    {{item.songName}}
  </div>

  <form ng-submit="logout()">
      <button>logout</button>
  </form>
</div>