<div id='container' align="center">
  <h1>your dashboard</h1>

  <div ng-show="!user.profilePicture">
    <h2>upload a profile picture</h2>
    <form action="/uploadPicture" method="post" enctype="multipart/form-data">
      <input type="file" enctype="multipart/form-data" name="imageFile" />
      <br />
      <button>upload</button>
    </form>
  </div>

  <div ng-show="user.profilePicture">
    <h2>your profile picture</h2>
    <img ng-src="{{user.profilePicture}}" height="100" width="100" />
    <br />
    <button ng-click="user.removePicture()">delete profile picture</button>
  </div>

  <h2>upload a song</h2>
  <form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" enctype="multipart/form-data" name="musicFile" />
    <br />
    song name
    <input type="text" name="songName" />
    <button>upload</button>
  </form>

  <h2>edit your uploads </h2>
  <div ng-repeat="item in user.collectionData" ng-click="user.editSong(item.filename, item.songName)">
    <h4>{{item.songName}}</h4>
  </div>

  <button ng-click="user.navToProfile()">your public profile</button>
  <button ng-click="user.logout()">logout</button>
</div>